* {
  margin: 0;
}

.main-navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin: auto;
}

.navbar-container {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.groupname-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 480px;
  margin-bottom: 0px;
}

.group-name {
  font-size: 26px;
  color: white;
  margin-bottom: 0px;
}

.links-top {
  font-size: 14px;
  color: #333;
  text-decoration: none;
  cursor: pointer;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.links {
  font-size: 14px;
  color: #333;
  text-decoration: none;
  cursor: pointer;
  margin-right: 15px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0px;
}

.link-btn:hover {
  font-size: 17px;
  border-right: black;
}

.active-link {
  border-bottom: solid lightgray !important;
}
